.registerModalBackground {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}
.registerModalContainer {
  position: absolute;
  background: "#fff";
  top: -20em;
  left: 28%;
  background-color: #fff;
  z-index: 101;
  transform: translateY(25em);
  transition: all 0.3s ease-in-out;
  border-bottom: 2em solid rgb(250, 60, 26);
  padding-bottom: 1em;
}

.registerWelcomeText {
  text-align: center;
  font-size: 3em;
  margin: 0.8em 0;
  color: rgb(250, 60, 26);
}
.registerModalBodyContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-content: center;
}

// FORMBTN
.formBtnContainer {
  width: 100%;
  background-color: rgb(250, 60, 26);
  margin-top: 5vh;
}
.formBtnContainer:hover {
  background-color: tomato;
}
.submitBtn {
  padding: 1em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
}
.submitBtn:focus {
  outline-width: 0;
}

@media only screen and (max-width: 600px) {
  @media (orientation: landscape) {
    .registerModalContainer {
      top: -25em;
      left: 0px;
      width: 100%;
    }
    .registerModalBodyContainer {
      display: block;
      flex-direction: row-reverse;
    }
  }
  @media (orientation: portrait) {
    .registerModalContainer {
      top: -25em;
      left: 0em;
      width: 100%;
    }
    .registerModalBodyContainer {
      flex-direction: column;
    }
  }
}

@media only screen and (min-width: 600px) {
  @media (orientation: landscape) {
    .registerModalContainer {
      top: -25em;
      left: 0px;
      width: 100%;
    }
    .registerModalBodyContainer {
      display: block;
      flex-direction: row;
    }
  }
  @media (orientation: portrait) {
    .registerModalContainer {
      top: -22em;
      left: 0em;
      width: 100%;
    }
    .registerModalBodyContainer {
      flex-direction: column;
    }
  }
}

@media only screen and (min-width: 768px) {
  @media (orientation: landscape) {
    .registerModalContainer {
      top: -25em;
      left: 0px;
      width: 100%;
    }
    .registerModalBodyContainer {
      display: flex;
      flex-direction: row-reverse;
    }
  }
  @media (orientation: portrait) {
    .registerModalContainer {
      top: -22em;
      left: 10vw;
      width: 80vw;
    }
    .registerModalBodyContainer {
      flex-direction: column;
    }
  }
}

@media only screen and (min-width: 992px) {
  @media (orientation: landscape) {
    .registerModalContainer {
      top: -20em;
      left: 17vw;
      width: 70vw;
    }
  }
  @media (orientation: portrait) {
    .registerModalContainer {
      top: -22em;
      left: 10vw;
      width: 80vw;
    }
    .registerModalBodyContainer {
      flex-direction: column;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .registerModalContainer {
    position: absolute;
    background: "#fff";
    width: 48vw;
    top: -20em;
    left: 24vw;
    background-color: #fff;
    z-index: 101;
    transform: translateY(25em);
    transition: all 0.3s ease-in-out;
    border-bottom: 2em solid rgb(250, 60, 26);
    padding-bottom: 1em;
  }
}
