.closeBtnContainer{
  position: absolute;
  right: 8%;
  top: 5%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  z-index: 1000;
}
.closeBtnText {
  font-size: 4em;
  opacity: 1;
  color: #fff;
}
.closeBtnText:hover {
  opacity: 0.3;
}
