.accountSettingsContainer {
  margin: 3em 40em 5em 15em;
  background-color: #000;
  -webkit-animation: fadein 0.8s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.8s; /* Firefox < 16 */
  -ms-animation: fadein 0.8s; /* Internet Explorer */
  -o-animation: fadein 0.8s; /* Opera < 12.1 */
  animation: fadein 0.8s;
}
@keyframes fadein {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
.accountImgContainer {
  text-align: center;
}
.AccountHeaderImg {
  width: 3em;
  height: 3em;
  align-items: center;
  margin-bottom: 1em;
}
.accountUserEmail {
  font-size: 2.5em;
  color: white;
  // text-align:
  margin-bottom: 1em;
}
.updatePasswordText {
  color: silver;
  padding-top: 5px;
}

.acountTitle {
  margin: 1em 0;
}
.accountFormChangeTitleContainer {
  display: flex;
}
.accountFormChangeTitleClose {
  color: red;
  cursor: pointer;
  // margin-right: 15px;
  float: right;
}
.accountTitleContainer {
  display: flex;
  justify-content: flex-start;
}
.accountSavedVidsText {
  color: #f2f2f2;
  font-size: 1em;
  margin: 0.5em 1em 0.5em 0;
}
.accountSavedVidsTextRes {
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin: 0.5em 1em 0.5em 0;
}

.accountChangeBtn {
  background-color: #f2f2f2;
  font-size: 1.5em;
  color: #333;
  padding: 7px 10px;
  border: 1px solid #333;
  // margin-right: 2em;
  cursor: pointer;
  transition: 250ms ease-in-out;
  border-radius: 5px;
}
.accountChangeBtn:hover {
  transform: scaleX(1.05);
  background-color: #f6f6f6;
}
.accountChangeBtn::after {
  transform: scale(1);
  background-color: #f2f2f2;
}
.accountChangeBtn:focus {
  outline: none;
  box-shadow: none;
}
.deleteAccountBtn {
  background-color: #f2f2f2;
  font-size: 1.5em;
  color: #333;
  padding: 7px 10px;
  margin-top: 1em;
  border: 1px solid #333;
  cursor: pointer;
  border-radius: 5px;
}
.accountFormChangeTitle {
  color: #f2f2f2;
  font-weight: 600;
  // margin-left: 1em;
}
.accountSpacer {
  height: 4em;
}

.accountPasswordFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.accountPasswordFormInput {
  outline: none;
  width: 100%;
  margin: 1em 0;
  padding: 1em;
  color: #222;
}
.accountPasswordFormInput::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #333;
  opacity: 1; /* Firefox */
}

.openFormAccountContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: auto;
}

@media (max-width: 600px) {
  @media (orientation: landscape) {
    .accountSettingsContainer {
      margin: 3em 0 0 0;
    }
    .accountTitleContainer {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .accountBodyContainer {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  @media (orientation: portrait) {
    .accountUserEmail {
      text-align: center;
    }
    .accountSettingsContainer {
      margin: 3em 0 0 0;
    }
    .accountTitleContainer {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .accountBodyContainer {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}

@media only screen and (min-width: 600px) {
  @media (orientation: landscape) {
    .accountSettingsContainer {
      margin: 3em 0 0 0;
    }
    .accountTitleContainer {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .accountBodyContainer {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  @media (orientation: portrait) {
    .accountUserEmail {
      text-align: center;
    }
    .accountSettingsContainer {
      margin: 7em 0 0 0;
    }
    .accountTitleContainer {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .accountBodyContainer {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}
@media only screen and (min-width: 992px) {
  @media (orientation: landscape) {
    .accountSettingsContainer {
      margin: 8em 0 0 0;
      width: 80vw;
    }
    .accountUserEmail {
      text-align: center;
    }
    .accountTitleContainer {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .accountBodyContainer {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .accountPasswordFormInput {
      width: 70vw;
    }
    .openFormAccountContainer {
      display: grid;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .accountPasswordFormContainer {
      width: 30vw;
    }
    .accountPasswordFormInput {
      width: 40vw;
    }
  }
  @media (orientation: portrait) {
    .accountUserEmail {
      text-align: center;
    }
    .accountSettingsContainer {
      margin: 3em 0 0 0;
    }
    .accountTitleContainer {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .accountBodyContainer {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}
