.onboardingContainer {
  flex: 1;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgb(36, 36, 36);
  padding: 0 5em;
}
.onboardingText {
  font-weight: bold;
  font-size: 130%;
  padding: 5% 0;
}
.onboardingTextBody {
  padding-top: 3%;
}

@media (max-width: 824px) {
  @media (orientation: landscape) {
  }
  @media (orientation: portrait) {
    .onboardingContainer {
      padding: 0 2em 3em 2em;
    }
  }
}
