.headerContainer {
  position: fixed;
  text-align: center;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  width: 100%;
  // height: auto;
  margin: 8px 0;
  align-items: center;
}
.headerLeftContainer {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 3vw;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.headerLeftTitlesContainer {
  transition: all 0.2s ease-in-out;
  transform: scale(1);
  width: 130%;
  margin-left: 0;
}

.headerRightSideContainer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-right: 4em;
  margin-top: 0;
  transition: all 0.2s ease-in-out;
}

.loginText {
  text-decoration: none;
  margin-right: 2em;
}
.clippedHeartLoggedOut {
  width: 3em;
  height: 3em;
  margin: 0.8em 0.8em 0 0;
  transition: all 0.2s ease-out;
}
.clippedHeartLoggedOut:hover {
  transform: scale(1.15);
}
.clippedHeartLoggedOut::after {
  transform: scale(0.5);
}
// /* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  @media (orientation: portrait) {
    .headerContainer {
      height: 2em;
    }
    .headerLeftContainer {
      transition: none;
      margin: 0 0.4em;
    }
    .headerLeftTitlesContainer {
      transition: none;
      transform: none;
      width: auto;
    }
    .headerRightSideContainer {
      transition: none;
      transform: none;
      width: auto;
      margin-right: 0em;
    }
    .loginText {
      transition: none;
      transform: none;
      font-size: 60%;
      margin-right: 0em;
    }
    .clippedHeartLoggedOut {
      width: 3.5em;
      height: 3.5em;
    }
  }
  @media (orientation: landscape) {
    .headerContainer {
      width: 100%;
      height: 3.5em;
    }
    .headerLeftContainer {
      transition: none;
      margin: 1em 1em;
    }
    .headerLeftTitlesContainer {
      transition: none;
      transform: none;
      width: auto;
    }
    .headerRightSideContainer {
      transition: none;
      transform: none;
      width: auto;
      margin-right: 1em;
    }
    .loginText {
      transition: none;
      transform: none;
      font-size: 60%;
      margin-right: 0em;
    }
    .clippedHeartLoggedOut {
      width: 2.5em;
      height: 2.5em;
      margin: 0;
    }
  }
}
// /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  @media (orientation: landscape) {
    .headerContainer {
      width: 100%;
      height: 4em;
    }
    .headerLeftContainer {
      margin: 0 1em;
    }
    .headerRightSideContainer {
      margin: 0 1em 0 0;
    }
    .loginText {
      margin-right: 0;
    }
    .clippedHeartLoggedOut {
      width: 2em;
      height: 2em;
      margin: 0 0.5em;
    }
  }
  @media (orientation: portrait) {
    .headerContainer {
      height: 3em;
    }
    .headerRightSideContainer {
      margin: 1em 1em 0 0;
    }
    .loginText {
      margin-right: 0;
    }
    .clippedHeartLoggedOut {
      width: 2.2em;
      height: 2.2em;
      margin: 0 0.5em;
    }
  }
}
// /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  @media (orientation: landscape) {
    .headerContainer {
      width: 100%;
      height: 2em;
    }
    .headerLeftContainer {
      margin: 0 1em;
    }
    .headerRightSideContainer {
      margin: 1em 1em 0 0;
    }
    .loginText {
      margin-right: 0.5em;
    }
  }
  @media (orientation: portrait) {
    .headerContainer {
      height: 4em;
    }
    .headerLeftContainer {
      margin: 0 2em;
    }
    .clippedHeartLoggedOut {
      width: 3em;
      height: 3em;
      margin: 0 2em 0 0;
    }
  }
}
// /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  @media (orientation: landscape) {
    .headerContainer {
      height: 5em;
    }
    .headerLeftContainer {
      margin: 0 1em;
    }
    .headerRightSideContainer {
      margin: 0 3em 0 0;
    }
    .clippedHeartLoggedOut {
      width: 3em;
      height: 3em;
      margin: 0 2em 0 0;
    }
  }
  @media (orientation: portrait) {
    .headerContainer {
      height: 5vh;
    }
    .headerLeftContainer {
      margin: 0 1em;
    }
    .headerRightSideContainer {
      margin: 2em 3em 0 0;
    }
    .clippedHeartLoggedOut {
      width: 3em;
      height: 3em;
      margin: 0 3em 0 0;
    }
  }
}
@media only screen and (min-width: 1200px) {
  .headerContainer {
    height: 5em;
  }
  .headerLeftContainer {
    margin: 1em 0 0 2.5em;
  }
  .clippedHeartLoggedOut {
    width: 3em;
    height: 3em;
    margin: 0 2em 0 0;
  }
}
