.userSavedVidsContainer {
  list-style: none;
  justify-content: center;
  align-items: center;
  background-color: #000;
  -webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.83; /* Firefox < 16 */
  -ms-animation: fadein 0.3s; /* Internet Explorer */
  -o-animation: fadein 0.3s; /* Opera < 12.1 */
  animation: fadein 0.3s;
}
@keyframes fadein {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

$thumbnailWidth: 17em;
$thumbnailHeight: 10em;

.profileThumbNail {
  width: $thumbnailWidth;
  height: $thumbnailHeight;
  margin: 1em 1em 0 1em;
  vertical-align: middle;
  border: 1px solid #666;
}
.profileThumbNail:hover {
  transition: 100ms ease-in-out;
  transform: scale(1.025);
}
.userSavedVidTitle {
  display: flex;
  justify-content: space-between;
  // width: 18em;
  color: #fff;
  font-size: 0.75em;
  margin: 3% 5%;
}
.savedVidText {
  display: flex;
}
.savedVidDeleteBtn {
  z-index: 9000;
  cursor: pointer;
  font-size: 1.4em;
  color: #fff;
  margin-right: 0.5em;
}

// NoSavedVidsMessage
.noSavedVidsContainer {
  flex: 1;
  // height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10em 15em 0 0;
  padding: 50px;
}
.noSavedVidsImage {
  width: 5em;
  height: 5em;
}
.noSavedVidstitle {
  color: white;
  font-size: 2em;
  text-align: center;
  padding: 10px 0;
}
.noSavedVidsbodyText {
  color: white;
  font-size: 1em;
  text-align: center;
  font-weight: 300;
}
.noSavedVidsBtnToHottestContainer {
  transition: 250ms ease-in-out;
  margin: 2em;
}
.noSavedVidsBtnToHottestContainer:hover {
  transform: scaleX(1.1);
}
.noSavedVidsBtnToHottestContainer::after {
  transform: scaleX(1);
}
.noSavedVidsBtnToHottest {
  text-decoration: none;
  background-color: rgb(253, 13, 233);
  color: white;
  text-align: center;
  padding: 0.7em 1em;
  border-radius: 10px;
  transition: 250ms ease-in-out;
}
.noSavedVidsBtnToHottest:hover {
  background-color: darkmagenta;
}
.noSavedVidsBtnToHottest::after {
  transform: scaleY(1);
}
// .nosavedVidsHandler {
//   display: none
// }

@media (max-width: 600px) {
  @media (orientation: landscape) {
    .nosavedVidsHandler {
      display: none;
    }
    .profileThumbNail {
      width: $thumbnailWidth * 0.8;
      height: $thumbnailHeight * 0.8;
    }
  }
  .noSavedVidsContainer {
    margin: 5em 0em;
    padding: 0px;
  }
  @media (orientation: portrait) {
    .nosavedVidsHandler {
      display: none;
    }
    .profileThumbNail {
      width: $thumbnailWidth;
      height: $thumbnailHeight;
    }
    .userSavedVidTitle {
      font-size: 1.1em;
    }
  }
}
@media only screen and (min-width: 600px) {
  @media (orientation: landscape) {
    .nosavedVidsHandler {
      display: none;
    }
    .profileThumbNail {
      width: $thumbnailWidth;
      height: $thumbnailHeight;
    }
  }
  .noSavedVidsContainer {
    margin: 5em 0em;
    padding: 0px;
  }
  @media (orientation: portrait) {
    .nosavedVidsHandler {
      display: none;
    }
    .profileThumbNail {
      width: $thumbnailWidth;
      height: $thumbnailHeight;
    }
    .userSavedVidTitle {
      font-size: 1.1em;
    }
  }
}
@media only screen and (min-width: 768px) {
  @media (orientation: landscape) {
    .nosavedVidsHandler {
      display: none;
    }
    .profileThumbNail {
      width: $thumbnailWidth * 0.8;
      height: $thumbnailHeight * 0.8;
    }
  }
  @media (orientation: portrait) {
    .nosavedVidsHandler {
      display: none;
    }
    .profileThumbNail {
      width: $thumbnailWidth * 1.3;
      height: $thumbnailHeight * 1.3;
    }
    .userSavedVidTitle {
      font-size: 1.1em;
    }
    .noSavedVidsContainer {
      margin: 10em 0em 0 0;
    }
  }
}
@media only screen and (min-width: 992px) {
  @media (orientation: landscape) {
    .nosavedVidsHandler {
      display: none;
    }
    .profileThumbNail {
      width: $thumbnailWidth * 0.8;
      height: $thumbnailHeight * 0.8;
    }
    .noSavedVidsContainer {
      margin: 20vh 0em 0 0;
    }
  }
  @media (orientation: portrait) {
    .nosavedVidsHandler {
      display: none;
    }
    .profileThumbNail {
      width: $thumbnailWidth * 1.4;
      height: $thumbnailHeight * 1.4;
    }
    .userSavedVidTitle {
      font-size: 1.1em;
    }
  }
}
